<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<% @categories.each do |c| %>
				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<!-- <img src="/assets/shop01.png" alt=""> --><%= category_dashboard_img(c) %>
						</div>
						<div class="shop-body">
							<%= link_to c.name ,service_path(c), class: "cta-btn" %> <i class="fa fa-arrow-circle-right"></i>
						</div>
					</div>
				</div>
				<!-- /shop -->	
			<% end %>		
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->